{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}

{% block title %}Categories{% endblock title %}

{% block content %}
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <!-- breadcrumb -->
        <div class="bg-gray-13 bg-md-transparent">
            <div class="container">
                <!-- breadcrumb -->
                <div class="my-md-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                            <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="{% url 'general:index' %}">Home</a></li>
                            <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">{{ category.title }}</li>
                        </ol>
                    </nav>
                </div>
                <!-- End breadcrumb -->
            </div>
        </div>
        <!-- End breadcrumb -->

        <div class="container">
            <div class="row">
                <div class="d-none d-xl-block col-xl-3 col-wd-2gdot5">
                    <div class="mb-8 border border-width-2 border-color-3 borders-radius-6">
                        <!-- List -->
                        <ul id="sidebarNav" class="list-unstyled mb-0 sidebar-navbar">
                            <li>
                                <a class="dropdown-toggle dropdown-toggle-collapse dropdown-title" href="javascript:;" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav1Collapse" data-target="#sidebarNav1Collapse">
                                    Show All Categories
                                </a>

                                <div id="sidebarNav1Collapse" class="collapse" data-parent="#sidebarNav">
                                    <ul id="sidebarNav1" class="list-unstyled dropdown-list">
                                        <!-- Menu List -->
                                        <li><a class="dropdown-item" href="#">Accessories<span class="text-gray-25 font-size-12 font-weight-normal"> (56)</span></a></li>
                                        <li><a class="dropdown-item" href="#">Cameras & Photography<span class="text-gray-25 font-size-12 font-weight-normal"> (11)</span></a></li>
                                        <li><a class="dropdown-item" href="#">Computer Components<span class="text-gray-25 font-size-12 font-weight-normal"> (22)</span></a></li>
                                        <li><a class="dropdown-item" href="#">Gadgets<span class="text-gray-25 font-size-12 font-weight-normal"> (5)</span></a></li>
                                        <li><a class="dropdown-item" href="#">Home Entertainment<span class="text-gray-25 font-size-12 font-weight-normal"> (7)</span></a></li>
                                        <li><a class="dropdown-item" href="#">Laptops & Computers<span class="text-gray-25 font-size-12 font-weight-normal"> (42)</span></a></li>
                                        <li><a class="dropdown-item" href="#">Printers & Ink<span class="text-gray-25 font-size-12 font-weight-normal"> (63)</span></a></li>
                                        <li><a class="dropdown-item" href="#">Smart Phones & Tablets<span class="text-gray-25 font-size-12 font-weight-normal"> (11)</span></a></li>
                                        <li><a class="dropdown-item" href="#">TV & Audio<span class="text-gray-25 font-size-12 font-weight-normal"> (66)</span></a></li>
                                        <li><a class="dropdown-item" href="#">Video Games & Consoles<span class="text-gray-25 font-size-12 font-weight-normal"> (31)</span></a></li>
                                        <!-- End Menu List -->
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="dropdown-current active" href="#">{{ category.title }}</a>

                                <ul class="list-unstyled dropdown-list">
                                    <!-- Menu List -->
                                    <li><a class="dropdown-item" href="{% url 'products:shop_category' category.slug %}">All products<span class="text-gray-25 font-size-12 font-weight-normal"></span></a></li>
                                    {% for sub_cat in category_childs %}
                                        <li><a class="dropdown-item" href="#">{{ sub_cat.title }}<span class="text-gray-25 font-size-12 font-weight-normal"> (56)</span></a></li>
                                    {% endfor %}
                                   <!-- End Menu List -->
                                </ul>
                            </li>
                        </ul>
                        <!-- End List -->
                    </div>

                    <!-- Latest Products -->
                    {% if latest_products %}
                        <div class="mb-8">
                            <div class="border-bottom border-color-1 mb-5">
                                <h3 class="section-title section-title__sm mb-0 pb-2 font-size-18">Latest Products</h3>
                            </div>
                            <ul class="list-unstyled">
                                {% for item in latest_products%}
                                    <li class="mb-4">
                                        <div class="row">
                                            <div class="col-auto">
                                                <a href="../shop/single-product-fullwidth.html" class="d-block width-75">
                                                    <img class="img-fluid" src="{% get_media_prefix %}{{ item.image }}" alt="Image Description">
                                                </a>
                                            </div>
                                            <div class="col">
                                                <h3 class="text-lh-1dot2 font-size-14 mb-0"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
                                                <div class="text-warning text-ls-n2 font-size-16 mb-1" style="width: 80px;">
                                                    <small class="fas fa-star"></small>
                                                    <small class="fas fa-star"></small>
                                                    <small class="fas fa-star"></small>
                                                    <small class="fas fa-star"></small>
                                                    <small class="far fa-star text-muted"></small>
                                                </div>
                                                <div class="font-weight-bold">
                                                    {% if item.price_discount %}
                                                        <del class="font-size-11 text-gray-9 d-block">{{ item.price_currency|price_change }} {{ currency }}</del>
                                                        <ins class="font-size-15 text-red text-decoration-none d-block">{{ item.price_discount|price_change }} {{ currency }}</ins>
                                                    {% else %}
                                                        <div class="text-gray-100">{{ item.price_currency|price_change }} {{ currency }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                
                <!-- End Latest products -->

                <div class="col-xl-9 col-wd-9gdot5">

                    <!-- Sub categories in this category -->
                    {% if category_childs %}
                        <div class="d-flex justify-content-between align-items-center border-bottom border-color-1 flex-lg-nowrap flex-wrap mb-4">
                            <h3 class="section-title section-title__full mb-0 pb-2 font-size-22">{{ category.title}}</h3>
                        </div>
                        <ul class="row list-unstyled products-group no-gutters mb-6">
                            {% for sub_cat in category_childs %}
                                <li class="col-6 col-md-3 product-item">
                                    <div class="product-item__outer h-100 w-100">
                                        <div class="product-item__inner px-xl-4 p-3">
                                            <div class="product-item__body pb-xl-2">
                                                <div class="mb-2">
                                                    <a href="#" class="d-block text-center"><img class="img-fluid" src="{{ sub_cat.image.url }}" alt="Image Description"></a>
                                                </div>
                                                <h5 class="text-center mb-1 product-item__title"><a href="{% url 'general:category_show_detail' sub_cat.slug %}" class="font-size-15 text-gray-90">{{ sub_cat.title }}</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <!-- End sub categories-->

                    <!-- Best Sellers -->
                    {% if best_sellers %}
                        <div class="mb-6 position-relative">
                            <dv class="d-flex justify-content-between border-bottom border-color-1 flex-md-nowrap flex-wrap border-sm-bottom-0">
                                <h3 class="section-title section-title__full mb-0 pb-2 font-size-22">Best Sellers</h3>
                            </dv>
                            <div class="js-slick-carousel position-static u-slick u-slick--gutters-1 overflow-hidden u-slick-overflow-visble pt-3 pb-3"
                                data-arrows-classes="position-absolute top-0 font-size-17 u-slick__arrow-normal top-10"
                                data-arrow-left-classes="fa fa-angle-left right-1"
                                data-arrow-right-classes="fa fa-angle-right right-0"
                                data-pagi-classes="text-center right-0 bottom-1 left-0 u-slick__pagination u-slick__pagination--long mb-0 z-index-n1 mt-4">
                                <div class="js-slide">
                                    <ul class="row list-unstyled products-group no-gutters mb-0 overflow-visible">
                                        {% for item in best_sellers|slice:':3'%}
                                            <li class="col-md-4 product-item product-item__card pb-2 mb-2 pb-md-0 mb-md-0 border-bottom border-md-bottom-0">
                                                <div class="product-item__outer h-100">
                                                    <div class="product-item__inner p-md-3 row no-gutters">
                                                        <div class="col col-lg-auto product-media-left">
                                                            <a href="../shop/single-product-fullwidth.html" class="max-width-150 d-block"><img class="img-fluid" src="{% get_media_prefix %}{{ item.image }}" alt="Image Description"></a>
                                                        </div>
                                                        <div class="col product-item__body pl-2 pl-lg-3 mr-xl-2 mr-wd-1">
                                                            <div class="mb-4">
                                                                <div class="mb-2"><a href="{{ item.product.category.get_absolute_url }}" class="font-size-12 text-gray-5">{{ item.product.category.title }}</a></div>
                                                                <h5 class="product-item__title"><a href="{{ item.get_absolute_url }}" class="text-blue font-weight-bold">{{ item.title }}</a></h5>
                                                            </div>
                                                            <div class="flex-center-between mb-3">
                                                                <div class="prodcut-price">
                                                                    {% if item.price_discount %}
                                                                        <del class="font-size-18 tex-gray-6 bottom-100 d-block">{{ item.price_currency|price_change }} {{ currency }}</del>
                                                                        <ins class="font-size-20 text-red text-decoration-none d-block">{{ item.price_discount|price_change }} {{ currency }}</ins>
                                                                    {% else %}
                                                                        <div class="text-gray-100">{{ item.price_currency|price_change }} {{ currency }}</div>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="d-none d-xl-block prodcut-add-cart">
                                                                    <a href="{% url 'carts:cart_add' item.id %}" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="product-item__footer">
                                                                <div class="border-top pt-2 flex-center-between flex-wrap">
                                                                    <a href="../shop/compare.html" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> Compare</a>
                                                                    <a href="{% url 'wishlists:add' item.slug %}" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% if best_sellers|slice:'3:4'%}
                                    <div class="js-slide">
                                        <ul class="row list-unstyled products-group no-gutters mb-0 overflow-visible">
                                            {% for item in best_sellers|slice:'3:6'%}
                                                <li class="col-md-4 product-item product-item__card pb-2 mb-2 pb-md-0 mb-md-0 border-bottom border-md-bottom-0">
                                                    <div class="product-item__outer h-100">
                                                        <div class="product-item__inner p-md-3 row no-gutters">
                                                            <div class="col col-lg-auto product-media-left">
                                                                <a href="../shop/single-product-fullwidth.html" class="max-width-150 d-block"><img class="img-fluid" src="{% get_media_prefix %}{{ item.image }}" alt="Image Description"></a>
                                                            </div>
                                                            <div class="col product-item__body pl-2 pl-lg-3 mr-xl-2 mr-wd-1">
                                                                <div class="mb-4">
                                                                    <div class="mb-2"><a href="{{ item.product.category.get_absolute_url }}" class="font-size-12 text-gray-5">{{ item.product.category.title }}</a></div>
                                                                    <h5 class="product-item__title"><a href="{{ item.get_absolute_url }}" class="text-blue font-weight-bold">{{ item.title }}</a></h5>
                                                                </div>
                                                                <div class="flex-center-between mb-3">
                                                                    <div class="prodcut-price">
                                                                        {% if item.price_discount %}
                                                                            <del class="font-size-18 tex-gray-6 bottom-100 d-block">{{ item.price_currency|price_change }} {{ currency }}</del>
                                                                            <ins class="font-size-20 text-red text-decoration-none d-block">{{ item.price_discount|price_change }} {{ currency }}</ins>
                                                                        {% else %}
                                                                            <div class="text-gray-100">{{ item.price_currency|price_change }} {{ currency }}</div>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="d-none d-xl-block prodcut-add-cart">
                                                                        <a href="{% url 'carts:cart_add' item.id %}" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                                                    </div>
                                                                </div>
                                                                <div class="product-item__footer">
                                                                    <div class="border-top pt-2 flex-center-between flex-wrap">
                                                                        <a href="../shop/compare.html" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> Compare</a>
                                                                        <a href="{% url 'wishlists:add' item.slug %}" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                {% if best_sellers|slice:'6:7'%}
                                    <div class="js-slide">
                                        <ul class="row list-unstyled products-group no-gutters mb-0 overflow-visible">
                                            {% for item in best_sellers|slice:'6:9'%}
                                                <li class="col-md-4 product-item product-item__card pb-2 mb-2 pb-md-0 mb-md-0 border-bottom border-md-bottom-0">
                                                    <div class="product-item__outer h-100">
                                                        <div class="product-item__inner p-md-3 row no-gutters">
                                                            <div class="col col-lg-auto product-media-left">
                                                                <a href="../shop/single-product-fullwidth.html" class="max-width-150 d-block"><img class="img-fluid" src="{% get_media_prefix %}{{ item.image }}" alt="Image Description"></a>
                                                            </div>
                                                            <div class="col product-item__body pl-2 pl-lg-3 mr-xl-2 mr-wd-1">
                                                                <div class="mb-4">
                                                                    <div class="mb-2"><a href="{{ item.product.category.get_absolute_url }}" class="font-size-12 text-gray-5">{{ item.product.category.title }}</a></div>
                                                                    <h5 class="product-item__title"><a href="{{ item.get_absolute_url }}" class="text-blue font-weight-bold">{{ item.title }}</a></h5>
                                                                </div>
                                                                <div class="flex-center-between mb-3">
                                                                    <div class="prodcut-price">
                                                                        {% if item.price_discount %}
                                                                            <del class="font-size-18 tex-gray-6 bottom-100 d-block">{{ item.price_currency|price_change }} {{ currency }}</del>
                                                                            <ins class="font-size-20 text-red text-decoration-none d-block">{{ item.price_discount|price_change }} {{ currency }}</ins>
                                                                        {% else %}
                                                                            <div class="text-gray-100">{{ item.price_currency|price_change }} {{ currency }}</div>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="d-none d-xl-block prodcut-add-cart">
                                                                        <a href="{% url 'carts:cart_add' item.id %}" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                                                    </div>
                                                                </div>
                                                                <div class="product-item__footer">
                                                                    <div class="border-top pt-2 flex-center-between flex-wrap">
                                                                        <a href="../shop/compare.html" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> Compare</a>
                                                                        <a href="{% url 'wishlists:add' item.slug %}" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <!-- End Best Sellers -->
                    
                    <!-- Top rated in this category -->
                    {% if best_sellers %}
                        <div class="mb-8 position-relative">
                            <dv class="d-flex justify-content-between border-bottom border-color-1 flex-md-nowrap flex-wrap border-sm-bottom-0">
                                <h3 class="section-title section-title__full mb-0 pb-2 font-size-22">Top rated in this category</h3>
                            </dv>
                            <div class="js-slick-carousel position-static u-slick u-slick--gutters-1 overflow-hidden u-slick-overflow-visble pt-3 pb-3"
                                data-arrows-classes="position-absolute top-0 font-size-17 u-slick__arrow-normal top-10"
                                data-arrow-left-classes="fa fa-angle-left right-1"
                                data-arrow-right-classes="fa fa-angle-right right-0"
                                data-pagi-classes="text-center right-0 bottom-1 left-0 u-slick__pagination u-slick__pagination--long mb-0 z-index-n1 mt-4">
                                <div class="js-slide">
                                    <ul class="row list-unstyled products-group no-gutters mb-0 overflow-visible">
                                        {% for item in top_rated|slice:':3'%}
                                            <li class="col-md-4 product-item product-item__card pb-2 mb-2 pb-md-0 mb-md-0 border-bottom border-md-bottom-0">
                                                <div class="product-item__outer h-100">
                                                    <div class="product-item__inner p-md-3 row no-gutters">
                                                        <div class="col col-lg-auto product-media-left">
                                                            <a href="../shop/single-product-fullwidth.html" class="max-width-150 d-block"><img class="img-fluid" src="{% get_media_prefix %}{{ item.image }}" alt="Image Description"></a>
                                                        </div>
                                                        <div class="col product-item__body pl-2 pl-lg-3 mr-xl-2 mr-wd-1">
                                                            <div class="mb-4">
                                                                <div class="mb-2"><a href="{{ item.product.category.get_absolute_url }}" class="font-size-12 text-gray-5">{{ item.product.category.title }}</a></div>
                                                                <h5 class="product-item__title"><a href="{{ item.get_absolute_url }}" class="text-blue font-weight-bold">{{ item.title }}</a></h5>
                                                            </div>
                                                            <div class="flex-center-between mb-3">
                                                                <div class="prodcut-price">
                                                                    {% if item.price_discount %}
                                                                        <del class="font-size-18 tex-gray-6 bottom-100 d-block">{{ item.price_currency|price_change }} {{ currency }}</del>
                                                                        <ins class="font-size-20 text-red text-decoration-none d-block">{{ item.price_discount|price_change }} {{ currency }}</ins>
                                                                    {% else %}
                                                                        <div class="text-gray-100">{{ item.price_currency|price_change }} {{ currency }}</div>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="d-none d-xl-block prodcut-add-cart">
                                                                    <a href="{% url 'carts:cart_add' item.id %}" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="product-item__footer">
                                                                <div class="border-top pt-2 flex-center-between flex-wrap">
                                                                    <a href="../shop/compare.html" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> Compare</a>
                                                                    <a href="{% url 'wishlists:add' item.slug %}" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% if top_rated|slice:'3:4'%}
                                    <div class="js-slide">
                                        <ul class="row list-unstyled products-group no-gutters mb-0 overflow-visible">
                                            {% for item in top_rated|slice:'3:6'%}
                                                <li class="col-md-4 product-item product-item__card pb-2 mb-2 pb-md-0 mb-md-0 border-bottom border-md-bottom-0">
                                                    <div class="product-item__outer h-100">
                                                        <div class="product-item__inner p-md-3 row no-gutters">
                                                            <div class="col col-lg-auto product-media-left">
                                                                <a href="../shop/single-product-fullwidth.html" class="max-width-150 d-block"><img class="img-fluid" src="{% get_media_prefix %}{{ item.image }}" alt="Image Description"></a>
                                                            </div>
                                                            <div class="col product-item__body pl-2 pl-lg-3 mr-xl-2 mr-wd-1">
                                                                <div class="mb-4">
                                                                    <div class="mb-2"><a href="{{ item.product.category.get_absolute_url }}" class="font-size-12 text-gray-5">{{ item.product.category.title }}</a></div>
                                                                    <h5 class="product-item__title"><a href="{{ item.get_absolute_url }}" class="text-blue font-weight-bold">{{ item.title }}</a></h5>
                                                                </div>
                                                                <div class="flex-center-between mb-3">
                                                                    <div class="prodcut-price">
                                                                        {% if item.price_discount %}
                                                                            <del class="font-size-18 tex-gray-6 bottom-100 d-block">{{ item.price_currency|price_change }} {{ currency }}</del>
                                                                            <ins class="font-size-20 text-red text-decoration-none d-block">{{ item.price_discount|price_change }} {{ currency }}</ins>
                                                                        {% else %}
                                                                            <div class="text-gray-100">{{ item.price_currency|price_change }} {{ currency }}</div>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="d-none d-xl-block prodcut-add-cart">
                                                                        <a href="{% url 'carts:cart_add' item.id %}" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                                                    </div>
                                                                </div>
                                                                <div class="product-item__footer">
                                                                    <div class="border-top pt-2 flex-center-between flex-wrap">
                                                                        <a href="../shop/compare.html" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> Compare</a>
                                                                        <a href="{% url 'wishlists:add' item.slug %}" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                {% if top_rated|slice:'6:7'%}
                                    <div class="js-slide">
                                        <ul class="row list-unstyled products-group no-gutters mb-0 overflow-visible">
                                            {% for item in top_rated|slice:'6:9'%}
                                                <li class="col-md-4 product-item product-item__card pb-2 mb-2 pb-md-0 mb-md-0 border-bottom border-md-bottom-0">
                                                    <div class="product-item__outer h-100">
                                                        <div class="product-item__inner p-md-3 row no-gutters">
                                                            <div class="col col-lg-auto product-media-left">
                                                                <a href="../shop/single-product-fullwidth.html" class="max-width-150 d-block"><img class="img-fluid" src="{% get_media_prefix %}{{ item.image }}" alt="Image Description"></a>
                                                            </div>
                                                            <div class="col product-item__body pl-2 pl-lg-3 mr-xl-2 mr-wd-1">
                                                                <div class="mb-4">
                                                                    <div class="mb-2"><a href="{{ item.product.category.get_absolute_url }}" class="font-size-12 text-gray-5">{{ item.product.category.title }}</a></div>
                                                                    <h5 class="product-item__title"><a href="{{ item.get_absolute_url }}" class="text-blue font-weight-bold">{{ item.title }}</a></h5>
                                                                </div>
                                                                <div class="flex-center-between mb-3">
                                                                    <div class="prodcut-price">
                                                                        {% if item.price_discount %}
                                                                            <del class="font-size-18 tex-gray-6 bottom-100 d-block">{{ item.price_currency|price_change }} {{ currency }}</del>
                                                                            <ins class="font-size-20 text-red text-decoration-none d-block">{{ item.price_discount|price_change }} {{ currency }}</ins>
                                                                        {% else %}
                                                                            <div class="text-gray-100">{{ item.price_currency|price_change }} {{ currency }}</div>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="d-none d-xl-block prodcut-add-cart">
                                                                        <a href="{% url 'carts:cart_add' item.id %}" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                                                    </div>
                                                                </div>
                                                                <div class="product-item__footer">
                                                                    <div class="border-top pt-2 flex-center-between flex-wrap">
                                                                        <a href="../shop/compare.html" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> Compare</a>
                                                                        <a href="{% url 'wishlists:add' item.slug %}" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <!-- End Top rated in this category -->
                    
                    <!-- Sub categories in this category -->
                    {% if brands_in_category %}
                        <div class="d-flex justify-content-between align-items-center border-bottom border-color-1 flex-lg-nowrap flex-wrap mb-4">
                            <h3 class="section-title section-title__full mb-0 pb-2 font-size-22">Brands in {{ category.title}}</h3>
                        </div>
                        <ul class="row list-unstyled products-group no-gutters mb-6">
                            {% for brand in brands_in_category %}
                                <li class="col-6 col-md-3 product-item">
                                    <div class="product-item__outer h-100 w-100">
                                        <div class="product-item__inner px-xl-4 p-3">
                                            <div class="product-item__body pb-xl-2">
                                                <div class="mb-2">
                                                    <a href="#" class="d-block text-center"><img class="img-fluid" src="{{ brand.logo.url }}" alt="Image Description"></a>
                                                </div>
                                                <h5 class="text-center mb-1 product-item__title"><a href="{% url 'general:category_show_detail' brand.slug %}" class="font-size-15 text-gray-90">{{ brand.name }}</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <!-- End sub categories-->
                </div>
            </div>
            <!-- Brand Carousel -->
            <div class="mb-8">
                <div class="py-2 border-top border-bottom">
                    <div class="js-slick-carousel u-slick my-1"
                        data-slides-show="5"
                        data-slides-scroll="1"
                        data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-normal u-slick__arrow-centered--y"
                        data-arrow-left-classes="fa fa-angle-left u-slick__arrow-classic-inner--left z-index-9"
                        data-arrow-right-classes="fa fa-angle-right u-slick__arrow-classic-inner--right"
                        data-responsive='[{
                            "breakpoint": 992,
                            "settings": {
                                "slidesToShow": 2
                            }
                        }, {
                            "breakpoint": 768,
                            "settings": {
                                "slidesToShow": 1
                            }
                        }, {
                            "breakpoint": 554,
                            "settings": {
                                "slidesToShow": 1
                            }
                        }]'>
                        <div class="js-slide">
                            <a href="#" class="link-hover__brand">
                                <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img1.png" alt="Image Description">
                            </a>
                        </div>
                        <div class="js-slide">
                            <a href="#" class="link-hover__brand">
                                <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img2.png" alt="Image Description">
                            </a>
                        </div>
                        <div class="js-slide">
                            <a href="#" class="link-hover__brand">
                                <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img3.png" alt="Image Description">
                            </a>
                        </div>
                        <div class="js-slide">
                            <a href="#" class="link-hover__brand">
                                <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img4.png" alt="Image Description">
                            </a>
                        </div>
                        <div class="js-slide">
                            <a href="#" class="link-hover__brand">
                                <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img5.png" alt="Image Description">
                            </a>
                        </div>
                        <div class="js-slide">
                            <a href="#" class="link-hover__brand">
                                <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img6.png" alt="Image Description">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Brand Carousel -->
        </div>
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
{% endblock %}