{% extends 'accounts/customer/details_base.html' %}
{% load blog_tags %}

{% block account_elements %}
    <div class="tab-pane fade pt-2 show active" id="pills-three-example1" role="tabpanel" aria-labelledby="pills-three-example1-tab" data-target-group="groups">
        <ul class="d-block list-unstyled products-group prodcut-list-view">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Total Price</th>
                  <th>Phone</th>
                  <th>Status</th>
                  <th>Confirm</th>
                  <th>Created</th>
                  <th>Buttons</th>
                </tr>
                </thead>
                <tbody>
                    {% for order in orders  %}
                        <tr>
                        <td>#{{ order.slug }}</td>
                        <td>{{ order.price_currency|price_change }} {{ currency }}</td>
                        <td>{{ order.phone }}</td>
                        <td>{{ order.get_status_display }}</td>
                        <td>X</td>
                        <td>{{ order.created|date:'SHORT_DATE_FORMAT' }}</td>
                        <td> 
                            <a class="btn btn-primary btn-sm" href="{% url 'orders:details' order.slug %}"> 
                                <i class="fas fa-folder"></i>View
                            </a>
                            {% if not order.is_paid %}
                            {% comment %} <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt"></i>Edit
                            </a> {% endcomment %}
                            <a class="btn btn-danger btn-sm" href="{% url 'orders:delete' order.slug %}">
                                <i class="fas fa-trash"></i>Delete
                            </a>
                            {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Order ID</th>
                    <th>Total Price</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>Confirm</th>
                    <th>Created</th>
                    <th>Buttons</th>
                </tr>
                </tfoot>
            </table>
        </ul>
    </div>
{% endblock %}