{% extends 'accounts/customer/details_base.html' %}
{% load widget_tweaks %}

{% block account_elements %}
    <!-- Shop Body -->
    <div class="col-lg-12 order-lg-1">
        <div class="pb-7 mb-7">
            <!-- Title -->
            <div class="border-bottom border-color-1 mb-5">
                
            </div>
            <!-- End Title -->

            <!-- Billing Form -->
            <div class="row">
                <form class="col-12 d-flex flex-wrap" method='post'>
                    <div class="col-md-6">
                        <!-- Input -->
                        <div class="js-form-message mb-6">
                            <label class="form-label">
                                Old password
                                <span class="text-danger">*</span>
                            </label>
                            {% render_field pass_form.old_password type='password' class="form-control" aria-label="Jack" data-error-class="u-has-error" %}
                            {% if pass_form.old_password.errors %}<div id="id_old_password-error" class="invalid-feedback" style="display: block;">{{ pass_form.old_password.errors }}</div>{% endif %}
                        </div>
                        <!-- End Input -->
                    </div>

                    <div class="col-md-6">
                        <!-- Input -->
                        <div class="js-form-message mb-6">
                            <label class="form-label">
                                New password
                                <span class="text-danger">*</span>
                            </label>
                            {% render_field pass_form.new_password1 class="form-control" aria-label="Jack" data-error-class="u-has-error" %}
                            {% if pass_form.new_password1.errors %}<div id="id_new_password1-error" class="invalid-feedback" style="display: block;">{{ pass_form.new_password1.errors }}</div>{% endif %}
                        </div>
                        <!-- End Input -->
                    </div>
                    <div class="col-md-6">
                        <!-- Input -->
                        <div class="js-form-message mb-6">
                            <label class="form-label">
                                New password 2
                                <span class="text-danger">*</span>
                            </label>
                            {% render_field pass_form.new_password2 class="form-control" aria-label="Jack" data-error-class="u-has-error" %}
                            {% if pass_form.new_password2.errors %}<div id="id_new_password2-error" class="invalid-feedback" style="display: block;">{{ pass_form.new_password2.errors }}</div>{% endif %}
                        </div>
                        <!-- End Input -->
                    </div>
                    {% csrf_token %}
                    <div class="col-md-12">
                        <!-- Input -->
                        <div class="js-form-message mb-6 align-self-center">
                            <input type='submit' class="btn btn-sm btn-block btn-primary-dark btn-wide transition-3d-hover form-control " aria-label="Jack" value='Submit'>
                        </div>
                        <!-- End Input -->
                    </div>
                </form> 
            </div>
            <!-- End Billing Form -->            
        </div>
    </div>
    <!-- End Shop Body -->
{% endblock %}