{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% translate 'Password reset' %}{% endblock title %}

{% block content %}
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <!-- breadcrumb -->
        <div class="bg-gray-13 bg-md-transparent">
            <div class="container">
                <!-- breadcrumb -->
                <div class="my-md-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                            <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="../home/index.html">{% translate 'Home' %}</a></li>
                            <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">{% translate 'Password reset' %}</li>
                        </ol>
                    </nav>
                </div>
                <!-- End breadcrumb -->
            </div>
        </div>
        <!-- End breadcrumb -->

        <div class="container">
            <div class="my-4 my-xl-8">
                <div class="row">
                    <div class="col-md-5 ml-md-auto ml-xl-auto mr-xl-auto">
                        <!-- Title -->
                        {% if validlink %}

                            <div class="border-bottom border-color-1 mb-6">
                                <h3 class="d-inline-block section-title mb-0 pb-2 font-size-26">{% translate 'Password reset confirmation' %}</h3>
                            </div>

                            <p class="text-gray-90 mb-4">{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                            <!-- End Title -->
                            <form class="js-validate" novalidate="novalidate" action="{% url 'account:login' %}" method='post'>
                                <!-- Form Group -->
                                {% csrf_token %}

                                <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                                <div class="js-form-message form-group">

                                    {% if form.non_field_errors %}
                                    <div id="error" class="invalid-feedback" style="display: block;"><p class="invalid-feedback mb-4">{{form.non_field_errors}}</p></div>
                                    {% endif %}
                                    <label class="form-label" for="id_password">{% translate 'New password' %} <span class="text-danger">*</span></label>
                                    {% render_field form.new_password1 class="form-control" name="password" id="id_new_password1" placeholder="Password" aria-label="Password" data-msg="Your password is invalid. Please try again." data-error-class="u-has-error" data-success-class="u-has-success"%}
                                    {% if form.new_password1.errors %}<div id="id_new_password1-error" class="invalid-feedback" style="display: block;">{{ form.new_password1.errors }}</div>{% endif %}
                                </div>
                                <!-- End Form Group -->
                                <!-- Form Group -->
                                <div class="js-form-message form-group">
                                    <label class="form-label" for="id_password">{% translate 'Confirm password' %}<span class="text-danger">*</span></label>
                                    {% render_field form.new_password2  class="form-control" name="password" id="id_new_password2" placeholder="Password" aria-label="Password" data-msg="Your password is invalid. Please try again." data-error-class="u-has-error" data-success-class="u-has-success"%}
                                    {% if form.new_password2.errors %}<div id="id_new_password2-error" class="invalid-feedback" style="display: block;">{{ form.new_password2.errors }}</div>{% endif %}
                                </div>
                                <!-- End Form Group -->


                                <!-- Button -->
                                <div class="mb-1">
                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-primary-dark-w px-5">{% translate 'Change my password' %}</button>
                                    </div>
                                </div>
                                <!-- End Button -->
                            </form>
                        {% else %}

                            <div class="border-bottom border-color-1 mb-6">
                                <h3 class="d-inline-block section-title mb-0 pb-2 font-size-26">{% translate 'Fail' %}</h3>
                            </div>

                            <p class="text-gray-90 mb-4">{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

{% endblock content %}

